@page "/counter"
@inject DapperRepository<Instrument> InstrumentManager

<button class="btn btn-primary" @onclick="Test">Click me</button>

@code {

    async Task Test()
    {
        // get all
        var instruments = await InstrumentManager.GetAll();

        // add new
        var instrument = new Instrument() { Name = DateTime.Now.ToString() };
        var added = await InstrumentManager.Insert(instrument);

        added.Name = $"Updated at {DateTime.Now.ToString()}";
        await InstrumentManager.Update(added);

        await InstrumentManager.Delete(added);
    }
}
