@page "/counter"
@inject DapperRepository<Instrument> InstrumentManager

<button class="btn btn-primary" @onclick="Test">Click me</button>

@code {

    async Task Test()
    {
        // get all
        var instruments = await InstrumentManager.GetAllAsync();

        // add new
        var instrument = new Instrument() { Name = DateTime.Now.ToString() };
        var added = await InstrumentManager.InsertAsync(instrument);

        added.Name = $"Updated at {DateTime.Now.ToString()}";
        await InstrumentManager.UpdateAsync(added);

        await InstrumentManager.DeleteAsync(added);
    }
}
