@page "/fetchdata"
@inject DapperRepository<Customers> CustomersManager

<button class="btn btn-primary" @onclick="Test">Click me</button>

@code {

    async Task Test()
    {
        // get all
        var customers = await CustomersManager.GetAllAsync();

        // add new
        var customer = new Customers()
        {
            CustomerID = "ABCDZ",
            CompanyName = DateTime.Now.ToString()
        };

        var added = await CustomersManager.InsertAsync(customer);

        added.CompanyName = $"Updated at {DateTime.Now.ToString()}";
        await CustomersManager.UpdateAsync(added);

        await CustomersManager.DeleteAsync(added);
    }
}

